---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<ul class="publications-list">
  {% for post in site.publications reversed %}
    <li>
      {% if post.paper_url %}
        {{ post.citation | replace: post.title, '<a href="' | append: post.paper_url | append: '" target="_blank" rel="noopener noreferrer">' | append: post.title | append: '</a>' | raw }}
      {% else %}
        {{ post.citation | default: post.title }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
