/* ========================================================================== 
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
      width: 100%;
      display: flex;
      align-items: center;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  width: 100%;
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
}

.greedy-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.greedy-nav .visible-links {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  list-style: none;
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: inline-flex;
  list-style-type: none;
  white-space: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
    margin-right: auto;
  }

  a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: var(--global-masthead-link-color);
    text-decoration: none;

    &:hover {
      color: var(--global-masthead-link-color-hover);
    }
  }
}

.masthead__menu-item.selected a {
  color: var(--global-text-color);
  font-weight: 700;
  border-bottom: 2px solid var(--global-text-color);
  pointer-events: none;
  cursor: default;
}

.masthead__menu-item.selected a:hover {
  color: var(--global-text-color);
  border-bottom: 2px solid var(--global-text-color);
}
